
@import "tailwindcss";

:root {
    font-family: Satoshi, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@theme {
    --color-primary: #FD8634;
    --color-footer: #f8f8f8;
    --font-display: "Satoshi", "sans-serif";
    
  }
  




.hero-section {
    background: radial-gradient(circle, rgba(253, 134, 52, 0.35) 0%, #ffffff 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
}