@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-satoshi {
    font-family: "Satoshi", sans-serif;
  }
}

.hero-section {
        background: radial-gradient(circle, #fd863459 0%, #ffffff 60%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 20px;
        text-align: center;
        min-height: 100vh;
    }